In [6]:
import pandas as pd
from pathlib import Path
import json
import collections
import numpy as np

In [13]:
truth_json_path = Path('val.json')
truth_annot_json = json.load(truth_json_path.open())
truth_annot = pd.read_json(json.dumps(truth_annot_json['annotations']))

ans_json_path = Path('ans.json')
ans_json = json.load(ans_json_path.open())
ans_annot = pd.read_json(json.dumps(ans_json))

truth_annot = truth_annot.sort_values(by=['image_id','category_id'],ignore_index=True)
ans_annot = ans_annot.sort_values(['image_id','category_id'],ignore_index=True)

In [14]:

truth_annot.drop(columns=['area','iscrowd','id'], inplace=True)

   image_id  category_id                    bbox
0         1            4    [523, 55, 869, 1147]
1         6            4    [455, 620, 633, 773]
2        13            2   [768, 1824, 605, 654]
3        13            3  [491, 536, 1151, 1135]
4        13            4   [745, 576, 803, 1322]

In [15]:
truth_annot_grouped = truth_annot.groupby(['image_id','category_id'])